# dependencies
node_modules/

# build outputs
build/
dist/
coverage/

# logs
*.log

# OS files
.DS_Store

# environment files (VERY IMPORTANT)
.env
.env.local
.env.*.local
.env.backup
.env.example.backup

# allow only safe template
!.env.example

# firebase config (only if sensitive in your project)
firebase-applet-config.json